@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Daniel's library!</h1>
    @*<p>Learn about <a href="~/images/Dune.jpg">building Web apps with ASP.NET Core</a>.</p>*@
</div>
